<div *ngIf="Handler">

  <div class="cage" [ngStyle]="{'height': CAGE_HEIGHT}">
    <div class="elevator" [ngStyle]="{'top': Handler.Elevator.top}">
      <div class="cables"></div>
      <div class="person" *ngFor="let person of Handler.Elevator.people">{{person.wantsToGo}}</div>
    </div>
  </div>

  <div class="building">
    <div class="level" *ngFor="let level of Handler.Levels">
      <button type="button" class="button" [ngClass]="{'called': level.isCalled }" (click)="Handler.call(level)">{{level.number}}</button>
      <div class="person" *ngFor="let person of level.people">{{person.wantsToGo}}</div>
    </div>
  </div>

</div>